<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devdes.allon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.LoginActivity"
            android:theme="@style/LoginActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.PanelActivity"
            android:label="@string/title_activity_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controllers.InicialActivity"/>
    </application>

</manifest>